<nav class="navbar fixed-bottom navbar-light bg-light">
   <marquee> &copy Copyright Lovejot Singh -CentennialCollege- 2019</marquee> 
</nav>
<!--jAVASCRIPT-->
  <script src="jquery/dist/jquery.min.js">
  </script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>