<% include ./partials/header.ejs %>
<!---About content---->
<!--LOVEJOTSingh-300928227-->
<div class="container">
        <div class="jumbotron">
        <div class="media">
   <img src="../Assets/images/Lovejot.jpg" alt="Mypicture" class="img-thumbnail"  width="200px" height="200px"  padding-left="2"  padding-right="2">
  <div class="media-body">
            <h1 class="display-4"> &nbsp; About Me</h1>
            <hr class="my-4">
              <p> &nbsp; 
            My name is Lovejot Singh,currently pursuing Software Engineering Technology in Centennial College.My expected Date of graduation is April,2019. In addition to my studies, I am Part time Security Officer working for City of Toronto through G4S Secure Solution.
             Besides this, my hobbies are reading book ,Gyming and watching movies. I am extrovert kind of person.in my free time, I mostly go out with my friends. <br>
             In studies,my interest is in web designing.for web designing,my weapons are photoshop and illustrator for creating layouts.i love using bootstrap for different layouts and CSS styles as well.
          <br>
          <br>
          Attachment is my Resume <a href="../Assets/Resume.pdf" download> Click here </a>  </p>
          </div>
      </div>

<% include ./partials/footer.ejs %>