<% include ./partials/header.ejs %>
<!---services content---->
<!--LOVEJOTSingh-300928227-->
<div class="container">
        <div class="jumbotron">
            <h1 class="display-4"> &nbsp; Services</h1>
        <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Soft Skills</th>
      <th scope="col">Technical Skills</th>
      <th scope="col">Familiar Softwares</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col"></th>
      <td><img src="../Assets/images/softskills.png" class="rounded float-left"width="150px" height="150px" alt="..."></td>
     <td><img src="../Assets/images/tech.png" class="rounded float-center"width="150px" height="150px" alt="..."></td>
  <td><img src="../Assets/images/softwares.png" class="rounded float-center"width="150px" height="150px" alt="..."></td>
    </tr>
    <tr>
      <th scope="row"></th>
           <td>-Team Player
           <br>
           -Time Management
           <br>
           -Creative
           <br>
           -Leadership
           <br>
           -Puntual
           <br>
           -Responsible
           <br>
           -Good listener </td>
     <td>-Software Analyst
           <br>
           -Web Designer
           <br>
           -Software Testing and Troubleshooter
           <br>
           -Database Management
           <br>
           -Technical Support
           <br>
           -Programming skills including c#,java EE,Javascript,Linux
           </td>
   <td>-Visual Studio/Visual Studio Code
           <br>
           -Android Studio
           <br>
           -Microsoft Web Expression
           <br>
           -Wordpress
           <br>
           -Sql Server Management
           <br>
           -Eclipse
    </td>
    </tr>
  </tbody>
</table>
  
        </div>
        </div>
<% include ./partials/footer.ejs %>